<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="FakeItEasy" version="4.6.0" targetFramework="net452" />
  <package id="NUnit" version="3.10.1" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net452" />
  <package id="StyleCop" version="5.0.0" targetFramework="net452" />
</packages>